@font-face {
    font-family: "robotobold";
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: "roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}
body{
    margin:0 0;
    padding:0 0;
    background-color:rgb(246, 228, 250);
}
section{
    background-image: url(./assets/images/fond.jpg);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    height:250px;
}
.card{
    display:flex;
    width:100%;
    justify-content: left;
    align-items: center;    
}
img{
    filter: invert(18%) sepia(100%) saturate(3371%) hue-rotate(267deg) brightness(92%) contrast(93%);
}
.container{
    font-family: "roboto";
    font-size: 0.8rem;
    margin:-150px auto 4rem auto;
    background-color:white;
    width:35rem;
    padding:2rem;
    border-radius: 10px;
}
.textEtoile{
    font-family: "robotobold";
    font-size:2.5rem;
    font-weight: bold;
    margin-left:1rem;
}
.artQuest{
    color:darkgrey;
    display:block;
}
.hidden{
    display:none;
}
.question{
    font-size: 1rem;
}
.separator::after{
    content:"";
    display:block;
    height:1px;
    width:100%;
    background-color: lightgrey;
}
.separator{
    padding: 2rem 0 1rem 0;
}
.plus{
    cursor:pointer;
    font-family: "roboto";
    font-weight:lighter;
    display:inline;
    height:1rem;
    width:1rem;
    padding:0.2rem 0.2rem;
    margin-top:1rem;
    background-color:blueviolet;
    color:white;
    border-radius: 50%;
    text-align: center;
}
.cardQuest{
    display:flex;
    justify-content: space-between;
}
@media(max-width:768px){
    .container{
        width:70%;
    }
}